<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
 <add name="HomeConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Всякое\HwAdo-6\HwAdo-6.DataAccess\Database.mdf;Integrated Security=True"
        providerName="System.Data.SqlClient"/> 
    </connectionStrings>
</configuration>

<!--"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|Database.mdf;Integrated Security=True"-->